:root{
    --branco: #fff;
    --preto: #000;
    --f1: clamp(0.8rem,1vw,1.0rem);
    --f2: clamp(1rem,1vw,1.2rem);
    --f3: clamp(1.2rem,1vw,1.5rem);
    --f4: clamp(1.5rem,1vw,2rem);
    --f5: clamp(2rem,1vw,4rem);
}